@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background-color: aquamarine;
    font-size: 100%;
}

.titulo {
    text-align: center;
    display: flex;
    align-items: center;
}