/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
#cabecalho {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container do lado esquerdo do cabeçalho */
.header-left {
    display: flex;
    align-items: center;
}

/* Container do lado direito do cabeçalho */
.header-right {
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.input-pesquisa {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.categorias, .sobre {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.categorias:hover, .sobre:hover {
    text-decoration: underline;
}

/* Estilo do container de animes */
#container_animes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    align-items: start;
}

/* Estilo de cada anime na lista */
.anime_lista {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 100%;
    max-height: 100%;
}

.anime_lista:hover {
    transform: translateY(-5px);
}

.anime_image {
    width: 100%;
    max-width: 200px; /* Definindo um tamanho máximo para a largura */
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.anime_titulo {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.voltar_avancar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block-end: 20px;
}

.pagina_anterior, .proxima_pagina {
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #f0eded;
    text-decoration: none;
    color: rgb(16, 15, 15);
    font-size: 10px;
    letter-spacing: .08em;
    position: relative;
}

.pagina_anterior:hover, .proxima_pagina:hover {
    transform: translateY(-3px);
}
