* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

#cabecalho {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 80px;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.header-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1rem; 
}

.titulo {
    font-size: 1.5rem;
    margin-right: 1rem;
}
.titulo a {
    color: white;
    text-decoration: none;
}

.titulo a:hover {
    text-decoration: none;
}

.input-pesquisa {
    padding: 0.5rem;
    border: none;
    width: 20rem;
    border-radius: 5px;
}

.categorias:hover, .sobre:hover {
    text-decoration: underline;
}

#container_animes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 1rem;
    padding: 1rem 0;
    justify-items: center; 
    margin-left: 40px;
    margin-right: 40px;
}

.anime_lista {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
    max-width: 300px; 
    max-height: 500px;
    margin-left: 85px;
}

.anime_lista:hover {
    transform: translateY(-5px);
}

.anime_image {
    width: 100%;
    height: auto;
    display: block;
}

.anime_titulo {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}


.anime_lista_placeholder {
    background-color: transparent;
    border: none;
    box-shadow: none;
    visibility: hidden;
}

footer{
    background-color: #282c34;
    padding: 10px 0;
    margin-bottom: 10px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(185, 182, 182);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col ul li p {
    color: rgb(185, 182, 182);
}

nav.menu_lateral {
    width: 80px;
    height: 100%;
    background-color: #282c34;
    padding: 40px 0 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

nav.menu_lateral:hover {
    width: 300px;
}

.btn_expandir {
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
}

.btn_expandir > i{
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 3px;
    
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .2s;
}

ul li.item_menu:hover {
    background: rgb(57, 56, 56);
}

ul li.item_menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item_menu a .txt_link {
    margin-left: 40px;
}

ul li.item_menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.voltar_avancar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.pagina_anterior, .proxima_pagina {
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #f0eded;
    text-decoration: none;
    color: rgb(16, 15, 15);
    font-size: 15px;
    letter-spacing: .08em;
    position: relative;
}

.pagina_anterior:hover, .proxima_pagina:hover {
    transform: translateY(-3px);
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}


@media (max-width: 768px) {
    #cabecalho {
        flex-direction: column; 
        align-items: flex-start;
    }

    .titulo {
        font-size: 1.2rem; 
    }

    .input-pesquisa {
        width: 100%; 
    }

    .header-left, .header-right {
        width: 100%; 
        justify-content: space-between; 
    }

    .categorias, .sobre {
        margin: 0.5rem 0; 
    }

    #container_animes {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    }

    .anime_lista {
        max-width: 150px; 
    }
}
